@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f111a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* CUSTOM CSS */
.table-wrapper {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  text-align: center;
}
.table-wrapper th {
  background: #184df6;
  padding: 16px;
  width: 160px;
  border: 1px solid black;
}
.table-wrapper td {
  background: var(--foreground);
  color: black;
  padding: 16px;
  width: 160px;
  border: 1px solid black;
}
